bin/
gen/
build/
out/
tmp/
*~
.gradle/
.settings/
.sonar/
local.properties
common.properties
.DS_Store
*.orig
artifacts
AppBuildInfo.java
.idea
!.idea/codeStyles/
!.idea/inspectionProfiles/
*.iml
reports/
artwork/*-assets
.navigation
*.hprof
Thumbs.db
**.log
captures/
*.pyc
**/jacoco.exec
